{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo app</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min' %}">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h3>My to-do list</h3>
		<h4>Double-click an item to mark it complete</h4>
		<form class="form" method="POST">
			{% csrf_token %}
			{{form}}
			<input type="submit" name="add">
		</form>
		{% for todo in todolist %}
			<ol>
				{{todo}}
			</ol>
		{% endfor %}
		<div class="container">		
			<button type="button" class="btn btn-primary">Dark</button>
			<button type="button" class="btn btn-danger">Dark</button>
			<button type="button" class="btn btn-success">Dark</button>
		</div>

	</div>
</body>
</html>